.techniques__cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 0px;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  list-style-type: none;
  padding: 0;
}
