.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  margin: auto;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  /* выше установили ограничение по максимальной ширине */
  /* выше для экранов больше 1600px отцентрировали весь контент */
}
/* --------------------------------------------------------------- */

.header {
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  height: 100vh;
  background-color: #f2f2f2;
  border: #a6a5a5 1px solid;
  margin-bottom: 100px;
}

.logo__place-header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
  width: 228px;
  height: 32px;
}

.header__title {
  align-content: center;
  margin-left: 64px;
  z-index: 6;
  width: 730px;
  line-height: 96px;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 5;
  width: 338px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background: #2f80ed;
  z-index: 2;
}

/* --------------------------------------------------------------------- */

.description {
  border: #a6a5a5 1px solid;
  margin-bottom: 100px;
}

.description__two-colums {
  display: flex;
  margin: 100px 100px;
  width: 80%;
  justify-content: space-between;
}

.description__two-colums_brief {
  width: 175px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  margin-right: 30px;
}

.description__two-colums_main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.description__two-colums_paragraph {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}

.description__two-colums_paragraph_span-accent {
  margin: 30px 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}

.description__two-colums_span-accent {
  font-weight: 600;
}

/* ---------------------------------------------------------------------- */

.digits {
  display: flex;
  flex-direction: column;
  border: #a6a5a5 1px solid;
  margin-bottom: 100px;
}

.digits__section-title {
  margin: 100px auto 20px auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.digits__section-subtitle {
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto 100px auto;
  gap: 60px auto;
}

.digits__table_cell {
  width: 250px;
  margin-top: 60px;
}

.digits__table_heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.digits__table_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.digits__table_text_caption {
  margin-top: 20px;
}

/* ------------------------------------------------------------------- */

.feynman {
  height: 890px;
  position: relative;
  background-color: #f2f2f2;
  border: #a6a5a5 1px solid;
}

.feynman__title {
  width: 646px;
  margin: 100px auto 70px auto;
  line-height: 1.15;
  font-weight: 600;
  font-size: 120px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.feynman__subtitle {
  margin: 0 auto 0 auto;
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 0.6;
  right: 48px;
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  z-index: 2;
}

.feynman__portret {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

/* ------------------------------------------------------ */

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 1;
  color: white;
  border: #a6a5a5 1px solid;
}

.kaufman__section-title_theme_dark {
  margin: 90px auto 20px auto;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.kaufman__section-subtitle_theme-dark {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.kaufman__table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 90px auto;
  width: 1100px;
}

.kaufman__table_cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  z-index: 3;
}

.kaufman__table_heading_theme_dark {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.kaufman__table_text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  background-image: url(../images/kaufman-triangle.svg);
}

/* ------------------------------------------------------------------- */

.footer {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  color: white;
  border: #a6a5a5 1px solid;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 60px auto 40px auto;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: -30px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  margin: 20px 0 16px -40px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
